html, body {
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

h1 {
    text-align: center;
    color: #FFF5BF;
    /*font-size: 70px;*/
    text-transform: uppercase;
    display: block;
    text-shadow: #FFE039 -1px 1px 0, #FFE039 -2px 2px 0, #9B8300 -3px 3px 0, #9B8300 -4px 4px 0;
}

#headerSection {
    background: #FFD700;
    padding: 2em 0em 2em 0em;
}

#inputSection {
    margin-top: 5em;
}

#result {
    text-align: center;
    color: black;
    font: 24px;
    display: block;
    margin: 5% auto 5%;
}